@import "tailwindcss";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-geist: var(--font-geist-sans);
  --font-asul: var(--font-asul-sans);
  --font-commitmono: var(--font-commitmono-vazen);
}
